body {
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.3;
    height: auto;
    font-weight: 400;
}

/*header*/

header {
    width: 100%;
}

.topline {
    background: rgba(127, 143, 166, 1);
    width: 100%;
    height: 3.7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
}

.language a:hover {
    transform: rotate(50deg);
}

.social a, .phone a, .star a, .user a {
    color: white;
    text-decoration: none;
}

.social {
    display: flex;
    padding: 0 30px;
    gap: 5px;
}

.phone {
    display: flex;
    flex-direction: row;
    font-weight: 900;
    color: white;
    font-size: 160%;
}

.star, .group {
    display: flex;
}

.group a {
    color: white;
    display: block;
    margin: 0 1rem 0 0;
    text-decoration: none;
}

.group a:hover, .social a:hover, .star a:hover, .user a:hover {
    transform: scale(1.2);
}

.search {
    color: white;
}

.user {
    display: flex;
    flex-direction: row;
}

/*navigation bar*/

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.menu a {
    color: #830000;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    display: block;
    margin: 0 4rem 0 0;
    text-decoration: none;
    font-size: 130%;
}

/*panoramic*/

.panoramic {
    width: 100%;
    height: 37rem;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-image: url(image/banner-homepage.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Arima Madurai';
    font-size: 50px;
}

.panoramic a {
    color: white;
    text-decoration: none;
}

.left {
    margin-left: 30px;
}

.left :hover, .right :hover {
    opacity: 0.8;
}

.title {
    margin-top: 110px;
}

.right {
    margin-right: 30px;
}

/*script*/

.script {
    width: 100%;
    height: 35rem;
    float: left;
    align-items: center;
    background-image: url(image/script-background.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.news-title {
    margin-top: 3rem;
    margin-left: 50rem;
    font-family: 'Baloo Chettan 2';
    color: #8d1731;
    font-size: 25.6px;
    line-height: 33.28px;
}

.news-title a {
    color: #8d1731;
    text-decoration: none;
    font-weight: bold;
}

.news-paragraph {
    margin-left: 50rem;
    color: #8d1731;
    font-size: 17.6px;
}

.button {
    display: flex;
    margin-left: 1200px;
    margin-right: 200px;
    margin-top: 320px;
}

.read-article {
    background-color: #8d1731;
    border: none;
}

.button a {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.8;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 0px;
    background-color: #8d1731;
    text-decoration: none;
}

/*4 pictutes with link*/

.container1, .container2 {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
    color: white;
    font-family: 'Baloo Chettan 2';
    overflow: hidden;
}

.container1 img, .container2 img {
    transition: transform .3s;
}

.container1 img:hover, .container2 img:hover {
    transform: scale(1.1);
}

.text1 a, .text2 a, .text3 a, .text4 a {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    text-decoration: none;
}

.text1 {
    position: absolute;
    margin-top: 16rem;
    margin-left: 8rem;
    margin-right: 51rem;
}

.text2 {
    position: absolute;
    margin-top: 16rem;
    margin-left: 44rem;
    margin-right: 10rem;
}

.text3 {
    position: absolute;
    margin-top: 14rem;
    margin-left: 12rem;
    margin-right: 51rem;
}

.text4 {
    position: absolute;
    margin-top: 15rem;
    margin-left: 52rem;
    margin-right: 10rem;
}

/*banner trip*/

.banner-trip {
    width: 100%;
    height: 20rem;
    float: left;
    align-items: center;
    background-image: url(image/banner-trip.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.phone2 {
    position: absolute;
    margin-left: 12rem;
    margin-top: 3rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-large;
}

.phonebis, .mapbis, .brochurebis, .lieselbis {
    background-color: #fff;
    border: none;
    color: #8d1731;
}

.phone2 a, .map2 a, .brochure a, .liesel a {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #8d1731;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.map2 {
    color: #fff;
    margin-left: 35rem;
    margin-top: 7rem;
    position: absolute;
    text-align: center;
}

.brochure {
    color: #fff;
    margin-left: 55rem;
    margin-top: 7rem;
    position: absolute;
    text-align: center;
}

.liesel {
    color: #fff;
    margin-left: 68rem;
    margin-top: 2rem;
    position: absolute;
    text-align: center;
}

/*instagram*/

.instagram-banner {
    text-align: center;
}

.instagram-banner a {
    text-decoration: none;
    color: black;
    font-size: 20.8px;
}

.instagram {
    background-color: #8d1731;
    color: #fff;
    margin-top: 21rem;
    line-height: 3;
    margin-left: 10.7rem;
    margin-right: 10.7rem;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.carousel1, .carousel2 {
    display: flex;
    height: 15.35rem;
    margin-left: 10.7rem;
    margin-right: 10.7rem;
    margin-bottom: 0.2rem;
    gap: 0.2rem;
}

/*footer with 2 backgrounds, and buttons contact*/

footer {
    width: 100%;
    height: 22rem;
    align-items: center;
    background-image: url(image/fd-footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Noto Sans JP', sans-serif;
}

.background-footer {
    display: flex;
    width: 100%;
    height: 22rem;
    background-image: url(image/footer-map.svg);
    background-color: rgba(141, 23, 49, .8);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    color: #fff;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
    font-size: 20px;
    gap: 0.2rem;
    margin-left: 8rem;
    margin-top: 5rem;
}

.callto, .mailto {
    background-color: #fff;
    border: none;
}

.callto a, .mailto a {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.8;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #8d1731;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 5rem;
    margin-left: 10rem;
}

.office {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1rem;
    line-height: 28px;
    font-size: 16.8px;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: normal;
    font-weight: lighter;
}

.office a {
    text-decoration: none;
    color: #fff;
    font-style: italic;
}

.office span {
    font-weight: bold;
}

.label {
    margin-left: 2rem;
    margin-top: 3rem;
}

/*integration copyright*/

.copyright {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #8d1731;
}

.copyright ul {
    display: flex;
    list-style: none;
    gap: 0.2rem;
}

.copyright a {
    text-decoration: none;
    color: #fff;
}

#scroll-to-top {
    position: fixed;
    width: 50px;
    height: 58px;
    bottom: 50px;
    right: 0px;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #8d1731;
    font-size: xx-small;
}

.button-top a {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

@media screen and (min-width: 480px) and (max-width:767px){
    .menu {
        display: block;
        width: 100%;
    }
    .panoramic, .topline, .script, .container1, .container2, .banner-trip, .carousel1 {
        width: 100%;
    }
    .phone, .logo, .map, .star, .liesel, .button, #scroll-to-top {
        content-visibility: hidden;
    }
    nav ul { 
        justify-content: left;
    }
    nav ul li a {
        font-size: 2vw;
    }

    .news-title, .news-paragraph {
        margin-left: 50%;
        font-size: 120%;
    }

    .banner-trip {
        justify-content: left;
        font-size: 10%;
    }

    .phone2 {
        margin-left: 0%;
    }

    .map2 {
        margin-left: 40%;
    }

    .brochure {
        margin-left: 80%;
    }

    .carousel1, .carousel2 {
        margin-left: 0px;
    }

    .carousel1 img, .carousel2 img {
        width: 15vw;
        height: 10vh;
    }
}
    
