body {
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.3;
    height: auto;
    font-weight: 400;
}

/*header*/

header {
    width: 100%;
}

.topline {
    background: rgba(127, 143, 166, 1);
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.language a:hover {
    transform: rotate(50deg);
}

.social {
    display: flex;
    padding: 0 30px;
    gap: 5px;
}

.social a {
    color: white;
}

.phone {
    display: flex;
    flex-direction: row;
    font-weight: 900;
    color: white;
    font-size: 160%;
}

.phone a {
    color: white;
    text-decoration: none;
}

.star {
    display: flex;
}

.star a {
    color: white;
}

.group {
    display: flex;
}

.group a {
    color: white;
    display: block;
    margin: 0 1rem 0 0;
    text-decoration: none;
}

.group a:hover {
    transform: scale(1.2);
}

.search {
    color: white;
}

.user {
    display: flex;
    flex-direction: row;
}

.user a {
    color: white;
}

/*navigation bar*/

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.menu a {
    color: #830000;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    display: block;
    margin: 0 4rem 0 0;
    text-decoration: none;
    font-size: 130%;
}

/*panoramic*/

.panoramic {
    width: 100%;
    height: 37rem;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-image: url(image/banner-homepage.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Arima Madurai';
    font-size: 50px;
}

.panoramic a {
    color: white;
    text-decoration: none;
}

.left {
    margin-left: 30px;
}

.left :hover {
    opacity: 0.8;
}

.title {
    margin-top: 110px;
}

.right {
    margin-right: 30px;
}

.right :hover {
    opacity: 0.8;
}

/*script*/

.script {
    width: 100%;
    height: 35rem;
    float: left;
    align-items: center;
    background-image: url(image/script-background.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.news-title {
    margin-top: 3rem;
    margin-left: 50rem;
    font-family: 'Baloo Chettan 2';
    color: #8d1731;
    font-size: 25.6px;
    line-height: 33.28px;
}

.news-title a {
    color: #8d1731;
    text-decoration: none;
    font-weight: bold;
}

.news-paragraph {
    margin-left: 50rem;
    color: #8d1731;
    font-size: 17.6px;
}

.button {
    display: flex;
    margin-left: 1200px;
    margin-right: 200px;
    margin-top: 320px;
}

.read-article {
    background-color: #8d1731;
    border: none;
}

.button a {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.8;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 0px;
    background-color: #8d1731;
    text-decoration: none;
}

/*4 pictutes with link*/

.container1 {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
    color: white;
    font-family: 'Baloo Chettan 2';
}

.text1 {
    position: absolute;
    margin-top: 16rem;
    margin-left: 8rem;
    margin-right: 51rem;
}

.text1 a {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    text-decoration: none;
}

.text2 {
    position: absolute;
    margin-top: 16rem;
    margin-left: 44rem;
    margin-right: 10rem;
}

.text2 a {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    text-decoration: none;
}

.container2 {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    width: 100%;
    position: relative;
    color: white;
    font-family: 'Baloo Chettan 2';
}

.text3 {
    position: absolute;
    margin-top: 14rem;
    margin-left: 12rem;
    margin-right: 51rem;
}

.text3 a {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    text-decoration: none;
}

.text4 {
    position: absolute;
    margin-top: 15rem;
    margin-left: 52rem;
    margin-right: 10rem;
}

.text4 a {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    text-decoration: none;
}

/*banner trip*/

.banner-trip {
    width: 100%;
    height: 20rem;
    float: left;
    align-items: center;
    background-image: url(image/banner-trip.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.phone2 {
    position: absolute;
    margin-left: 12rem;
    margin-top: 3rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.phonebis {
    background-color: #fff;
    color: #8d1731;
    border: none;
}

.phone2 a {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.8;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #8d1731;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
}

.mapbis {
    background-color: #fff;
    border: none;
}

.map2 {
    color: #fff;
    margin-left: 35rem;
    margin-top: 7rem;
    position: absolute;
}

.map2 a {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.8;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #8d1731;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
}

.brochurebis {
    background-color: #fff;
    border: none;
}

.brochure {
    color: #fff;
    margin-left: 55rem;
    margin-top: 7rem;
    position: absolute;
}

.brochure a {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.8;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #8d1731;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
}

.lieselbis {
    background-color: #fff;
    border: none;
}

.liesel {
    color: #fff;
    margin-left: 68rem;
    margin-top: 2rem;
    position: absolute;
}

.liesel a {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.8;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #8d1731;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
}

/*instagram*/

.instagram-banner {
    text-align: center;
}

.instagram-banner a {
    text-decoration: none;
    color: black;
    font-size: 20.8px;
}

.instagram {
    background-color: #8d1731;
    color: #fff;
    margin-top: 19rem;
    line-height: 3;
    margin-left: 10.7rem;
    margin-right: 10.7rem;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.carousel1 {
    display: flex;
    height: 15.35rem;
    margin-left: 10.7rem;
    margin-right: 10.7rem;
    margin-bottom: 0.2rem;
    gap: 0.2rem;
}

.carousel2 {
    display: flex;
    height: 15.35rem;
    margin-left: 10.7rem;
    margin-right: 10.7rem;
    margin-bottom: 0.2rem;
    gap: 0.2rem;
}

/*footer with 2 backgrounds, and buttons contact*/

footer {
    width: 100%;
    height: 20rem;
    float: left;
    align-items: center;
    background-image: url(image/fd-footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.background-footer {
    display: flex;
    width: 100%;
    height: 20rem;
    background-image: url(image/footer-map.svg);
    background-color: rgba(141,23,49,.8);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    color: #fff;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
    font-size: 20px;
    gap: 0.2rem;
    margin-left: 8rem;
    margin-top: 5rem;
}

.callto, .mailto {
    background-color: #fff;
    border: none;
}

.callto a, .mailto a {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.8;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #8d1731;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
}

