body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.3;
    height: auto;
    position: relative;
    font-weight: 400;
}

header {
    width: 100%;
    position: relative;
    float: left;
}

.topline {
    background: rgba(127, 143, 166, 1);
    width: 100%;
    height: 3rem;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.language a:hover {
    transform: rotate(50deg);
}

.social {
    display: flex;
    padding: 0 30px;
}

.social a {
    color: white;
}

.phone {
    display: flex;
    flex-direction: row;
    font-weight: 900;
    color: white;
    font-size: 160%;
}

.phone a {
    color: white;
    text-decoration: none;
}

.star {
    display: flex;
}

.star a {
    color: white;
}

.group {
    display: flex;
}

.group a {
    color: white;
    display: block;
    margin: 0 1rem 0 0;
    text-decoration: none;
}

.group a:hover {
    transform: scale(1.2);
}

.search {
    color: white;
}

.user {
    display: flex;
    flex-direction: row;
}

.user a {
    color: white;
}

.menu {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.menu a {
    color: #830000;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    display: block;
    margin: 0 4rem 0 0;
    text-decoration: none;
    font-size: 130%;
}

.panoramic {
    width: 100%;
    height: 37rem;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-image: url(image/banner-homepage.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Arima Madurai';
    font-size: 50px;
}

.panoramic a {
    color: white;
    text-decoration: none;
}

.left {
    margin-left: 30px;
}

.left :hover {
    opacity: 0.8;
}

.title {
    margin-top: 110px;
}

.right {
    margin-right: 30px;
}

.right :hover {
    opacity: 0.8;
}

.script {
    width: 100%;
    height: 35rem;
    float: left;
    align-items: center;
    background-image: url(image/script-background.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 3rem;
}

.news-title {
    margin-top: 3rem;
    margin-left: 60rem;
}

.news-paragraph {
    margin-left: 60rem;
}
